/* General */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

ul {
    list-style-type: none;
}
h1, h2, h3, p, ul, fieldset, button { 
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
a {
    text-decoration: none;
}

.txt {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1E0606;
}
button {
    cursor: pointer;
}
.button-style {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #000000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button-style:hover {
    background-color: #C29974;
}

.button-style:active {
    background-color: #CFAF91;
}

.button-style:disabled {
    background-color: #C1C1C1;
}

.heading {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    color: #1E0606;
    text-transform: uppercase;
}

.sub-heading {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: #1E0606;
    text-transform: uppercase;
}

.catalog-txt-style h3 {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}
.catalog-item-top, .catalog-item-bottom, .category-item {
    width: 280px;
    height: 270px;
}
.category-item-title:hover {
    text-decoration-line: underline;
}
.catalog-item-title:hover {
    text-decoration-line: underline;
}
.category-item-title:active {
    text-decoration-line: underline;
}
.catalog-item-title:active {
    text-decoration-line: underline;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 110px;
}

fieldset {
  border: 0;
}

/* Catalog image background */

.apparel-bckgrnd {
    background-color: #DBE4DB;

}

.holiday-bckgrnd {
   background-color: #EADDD3;

}

.toys-bckgrnd {
    background-color: #F8F2DA;

} 

.accessories-bckgrnd {
    background-color: #D5D4E1;

}
.sale-bckgrnd {
    background-color: #F3D0DB;

} 

.adults-bckgrnd {
    background-color: #E5EAF8;
 
}
/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    box-sizing: content-box;
    padding-top: 50px;
}
.logo-menu-wrapper{
    display: flex;
    flex-direction: row;
}

.header-logo-img {
    width: 100px;
    height: 52px;
}

.header-logo-img:not(.header-logo-main):hover {
    opacity: 0.5;
}

.header-logo-img:not(.header-logo-main):active {
    opacity: 0.2;
}

.menu-nav {
    display: flex;
    margin-left: 60px;
    padding-top: 16px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    flex-wrap: wrap;
    row-gap: 9px;
}
.menu-item + .menu-item {
 margin-left: 20px;
}
.menu-item-link {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
}

.menu-item-link:hover {
    opacity: 0.5;
}

.menu-item-link:active {
    opacity: 0.2;
}
.search-contact-wrapper{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 136px;
}
.search-btn {
    display: flex;
    align-items: center;
    margin-right: 26px;
    height: 18px;
    width: 17px;
    background-image: url(/image/header/search-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}
.search-btn:hover {
    opacity: 0.5;
}

.search-btn:active {
    opacity: 0.2;
}
.contact-button {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    word-spacing: 4px;
}

.contact-button:hover {
    opacity: 0.5;
}

.contact-button:active {
    opacity: 0.2;
}

/* Contact Page /Modal*/

.main-wrapper {
    display: flex;
    flex-direction: row;
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}
input, textarea {
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.main-wrapper input:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.main-wrapper input:active {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.main-wrapper input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.main-wrapper textarea:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.main-wrapper textarea:active {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.main-wrapper textarea:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.contact-form label {
    margin-bottom: 3px;
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

}
/* Form Input Name */
.form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #E5EAF8;
    width: 680px;
    padding-top: 43px;
    padding-bottom: 42px;
    padding-right: 40px;
    padding-left: 40px;
}
.form-name {
    display: flex;
    flex-direction: column;
}
.form-name label {
    margin-bottom: 3px;
}
.form-name {
    padding-bottom: 20px;
}
.form-name input {
    height: 50px;
    width: 600px;
}
.form-name input::placeholder {
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 485px;
    font-size: 18px;
    line-height: 25px;
    color: black;
}
/* Form- Phone-Email input */

.form-phone-email {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.form-phone-email div {
    display: flex;
    flex-direction: column;
}
.form-phone-email input {
    width: 290px;
    height: 50px;
}
.form-phone-email input{
    margin-right: 20px;
}
textarea {
    resize: none;
}

/* Form - Textarea */

.form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}
.form-textarea textarea {
    width: 600px;
    height: 150px;
}

/* Form Checkbox */
.agree {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
} 
.agree input {
    margin-right: 16px;
}
.contact-agree-label {
    position: relative;
    padding-left: 34px;
}
.contact-agree-label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
}
.contact-agree-label::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-image: url(/image/checkbox/Vector\ 1.svg);
    background-repeat: no-repeat;
    opacity: 0;
}
.contact-agree-input:checked + .contact-agree-label::after {
    opacity: 1;
}
.contact-agree-input:checked + .contact-agree-label {
    text-decoration: underline;
}


/* Form Button */

.form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 106px;
    min-height: 40px;
}

/* FOOTER */
/* Footer General */
.footer {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background-color: #434343;
    text-transform: capitalize;
    width: 100%;
    padding-bottom: 100px;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer a:not(.other-color) {
    color: #FFFFFF;
}
.footer a:hover {
    opacity: 0.5;
}
.footer a:active {
    opacity: 0.2;
}
.footer-items {
    color: #FFFFFF;
}
/* Footer Title */

.footer-title-wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    margin-bottom: 28px;
}
.footer .footer-title {
    font-weight: normal; /* Продублировала свойства текста, чтобы перебить normalize.css */
    font-size: 16px;
    color: #AAAAAA;
}
.navigation-title, .customer-info-title, .connect-title {
    width: 380px;
    border-bottom: 1px solid #666666;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 20px;
    padding-bottom: 25px;
}
.connect-title {
    margin-right: 0px;
}
/* Footer Menu */
.footer-menu-wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #666666;
    padding-bottom: 28px;
}
.navigation-wrapper, .customer-wrapper{
    min-width: 380px;
    margin-right: 20px;
}
.connect-wrapper  {
    margin-top: -3px;
    min-width: 380px;
}
.navigation-items, .customer-info-list, .social-items {
    padding-left: 0px;
}
.navigation-item, .customer-info-item {
    margin-bottom: 15px;
}
.customer-info-item:last-child {
    margin-bottom: 0;
}
.navigation-item:last-child {
    margin-bottom: 0;
}
.navigation-items, .customer-info-list {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Email */
.input-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.connect-input-email {
    width: 299px;
    height: 40px;
    background-color: #666666;
    border: none;
}
.connect-input-email {
    outline: none;
}
.connect-input-email::placeholder {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #EBEBEB;
    padding-left: 15px;
}
.connect-input-email:hover {
    border: 1px solid #FFFDFD;
    border-right-color: transparent;
}

.connect-input-email:focus {
    border: 1px solid #FFFDFD;
    border-right: none;
}

.connect-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
}
/* Footer social */

.social-items{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
}
.social-items img {
    width: 30px;
    height: 30px;
}
.social-item {
    margin-right: 10px;
}
.social-item:last-child {
    margin-right: 0;
}

/* Footer-bottom */

.footer-bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.rating, .copyright, .web-design {
    min-width: 380px;
    padding-top: 23px;
    margin-right: 20px;
}

.web-design {
    margin-right: 0px;
}
.footer-items {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rating {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    cursor: pointer;
}
.rating-title {
    padding-top: 23px;
}
.rating-group {
    position: relative;
    top: -17px;
    left: 127px;
    height: 16px;
    width: 84px;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    background-image: url(/image/footer/Star.svg);
    background-size: 17px auto;
    background-repeat: repeat-x;
    
}
.rating-star {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    appearance: none;
    margin-right: 3px;
    border: none;
    background-size: 17px auto;
    background-repeat: repeat-x;
    cursor: pointer;
}
.rating:hover > legend{
    color: #C29974;
}
.rating-star:focus {
    outline: none;
}
.rating-star:hover {
    background-image: url(/image/footer/star-hover.svg);
}
.rating-star:hover ~ .rating-star {
    background-image: url(/image/footer/Star.svg);
}
.rating-star:checked {
    background-image: url(/image/footer/star-checked.svg);
}
.rating-star:nth-of-type(1) {
    z-index: 5;
     width: 17px;
}
.rating-star:nth-of-type(2) {
    z-index: 4;
    width: 34px;
}
.rating-star:nth-of-type(3) {
    z-index: 3;
    width: 51px;
}
.rating-star:nth-of-type(4) {
    z-index: 2;
    width: 68px;
}
.rating-star:nth-of-type(5) {
    z-index: 1;
    width: 85px;
}


.rating-star:last-child {
    margin-right: 0px;
}

/* Footer design */

.footer-design {
    color: #A2A2A2;
}
footer .footer-design:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration-line: underline;
}
footer .footer-design:active {
    color: #FFFFFF;
    opacity: 1;
    text-decoration-line: underline;
}